@use './variables/mixins' as *;

// == HERO SECTION
.hero {
  margin-bottom: -24rem;

  &-title {
    position: relative;
    z-index: 1;
    margin-top: 8rem;
    text-align: center;
    color: #FFFFFF;
  }

  &-picture {
    position: relative;
    top: -24rem;
  }
}

// == INFOS SECTION
.infos {
  // Fisrt part with the eggs picture
  @include mq(laptop) {
    &-eggs, &-stand {
      display: flex;
      align-items: center;
      gap: 7rem;

      @include mq(desktop) {
        gap: 11rem;
      }
    }

    &-eggs {
      flex-direction: row-reverse;
    }
  }

  &-content {
    margin: 6.4rem 0;
    text-align: center;

    @include mq(laptop) {
      max-width: 44.5rem;
      text-align: left;
      margin: 0;
      padding: 2rem;
    }

    p {
      color: #808397;
      margin: 2.4rem 0 3.2rem 0;
    }

    &-link {
      position: relative;
      color: #24303E;
      font-size: 1.5rem;
      line-height: 2.5rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      width: 13.7rem;
      margin: auto;

      // Border for the link
      .stick {
        position: absolute;
        height: 1rem;
        border-radius: 2.8rem;
        left: 0;
        bottom: 0;
        width: 100%;
        opacity: 0.25;
        
        &-yellow {
          background-color: #FAD400;
        }
        
        &-red {
          background-color: #FE7766;
        }
      }
    }
  }

  // Seconde part with the fruits
  &-fruits {

    &-cherry, &-orange {
      margin-bottom: -14.3rem;
    }

    &-content {
      position: relative;
      top: -21rem;
      text-align: center;

      &-green {
        color: #24554A;
      }

      &-blue {
        color: #19536C;
      }

      .fruit-text {
        margin-top: 2.7rem;
      }
    }
  }
}

// == CLIENTS SECTION
.clients {
  margin-top: 6.4rem;
  text-align: center;

  h4 {
    color: #A7AAAD;
  }

  &-infos {
    margin-top: 6.4rem;

    img {
      width: 7.2rem;
      height: 7.2rem;
      border-radius: 50%;
      margin: auto;
    }

    .client-text {
      color: #5B636D;
      margin: 3.2rem 0;
    }

    .job-text {
      margin-top: -2.4rem;
    }
  }
}

// == IMAGES SECTION
.images {
  margin-top: 8.6rem;

  &-top, &-bottom {
    display: flex;
  }
}