.footer {
  background-color: #90D4C6;
  padding: 6.4rem 0 8rem 0;

  &-img {
    width: 17rem;
    margin: auto;
    filter: invert(38%) sepia(6%) saturate(3240%) hue-rotate(118deg) brightness(65%) contrast(93%);
  }

  &-link {
    display: flex;
    justify-content: center;
    gap: 5.7rem;
    color: #458D7E;
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: -0.128571px;
    margin: 4rem 0 8.8rem 0;
  }

  &-social {
    display: flex;
    justify-content: center;
    gap: 2.8rem;

    img {
      width: fit-content;
    }
  }
}