@use "../variables/mixins" as *;

:root {
  font-size: 10px;
}

.container {
  padding: 0 2.4rem;
  max-width: 144rem;
  margin: auto;

  @include mq(tablet) {
    padding: 0 4.8rem 0 4rem;
  }

  @include mq(laptop) {
    padding: 0;
  }
}

.container-img {
  max-width: 144rem;
  margin: auto;
}
